[submodule "godot"]
	path = godot
	url = https://github.com/twincode-de/godot.git
	branch = libgodot_migeran_45_linux_build
[submodule "SwiftGodot"]
	path = SwiftGodot
	url = https://github.com/migeran/SwiftGodot.git
[submodule "SwiftGodotKit"]
	path = SwiftGodotKit
	url = https://github.com/migeran/SwiftGodotKit.git
[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/twincode-de/godot-cpp.git
	branch = libgodot_migeran_4.5_twincode
